<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="POM_traning_com.guru99.demo">
	<listeners>
		<listener class-name="commons.TestNGListener"></listener>
	</listeners>
	<test name="Test on Chrome">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="http://demo.guru99.com/v4/" />
		<classes>
<!-- 			<class name="com.guru99.newcustomer.NewCustomer_01_ValidateAllFields"></class> -->
			<class name="com.guru99.editcustomer.EditCustomer_ValidateFields"></class>
<!-- 			<class name="com.guru99.paymentfunction.Payment_Function"></class> -->

		</classes>
	</test>
</suite>
